@{
    Layout = "~/Views/Shared/LayoutPg.cshtml";
    }


<!-- end of the nav bar-->
    <!-- start of the banner-->

   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="~/img/banner.jpg" alt="img"/ width="1500"/>
      <div class="carousel-caption">
          <h1>gellery</h1>
      </div>
    </div>
    
    </div>
        </div>

    <br/><br/><br/>


          <!-- End course content -->
 <form class="form col-md-12 center-block" enctype="multipart/form-data" method="post" action="/Home/save_img">
                            <div class="form-group" > 

<input type="file" name="uf" id="uf" required="required" class="form-control input-lg" />
                                </div>


     <div class="form-group">
                                <input type="submit" value="upload image"  class="btn btn-primary btn-lg btn-block" />
 
                            </div>
     </form>

<!--about us area-->




    <!--=========== END ABOUT US SECTION ================--> 


